body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header{
    background-color: #307ECB;
    padding: 50px 0 50px 0;
}
.title{
    color: #FFFFFF;
    margin: 0 10% 0 10%;
    display: inline-block;
    display: block;
}
.title-icon{
    background: #F1FE6E;
    padding: 10px;
    
}
header h1{
    margin: 0 10% 0 10%;
    display: inline-block;
    color: #707070;
    background-color: #F1FE6E;
    padding: 10px;
}
figure{
    
}
.profile{
    margin: 0 40% 0 40%;
    height: 20%;
    width: 20%;
    border: 3px solid white;
    border-radius: 200px;
}
header .text-box-1{
    background-color: #3373B1;
}
.text-box-1{
    color: #FFFFFF;
    padding: 20px;
    margin: 20px 10% 10px 12%;
    width: 70%;
}
.parallax{
    /* The image used */
    background-image:  url("study.jpg");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.academic{
    margin: 0;
    padding: 50px 0 50px 0;
    width: 100%;
}
.academic .text-box-1{
    border: solid 1px #fff;
}
.transparent{
    background-color: rgba(0,0,0,0.5);
    margin: -50px 0 -50px 0;
    padding: 50px 0 50px 0;
    width: 100%;
    height: 100%;
}
.about{
    margin-left: 10%;
}
section p{
    font-size: 18px;
    text-align: justify;
    width: 80%;
    padding-left: 10%;
    
}
section h2{
    color: #FFFFFF;
    background-color: #FE5F55;
    border: 1px solid #fff;
    display: inline-block;
    padding: 10px;
    margin: 0 10% 0 0;
    font-weight: bold;
}
footer{
    background-color: #FE5F55;
    width: 100%;
    height: 300px;
    padding: 50px 0 50px 0;
}
footer h2{
    margin: 0 10% 0 10%;
    color: #FFFFFF;
    display: inline-block;
}
ul{
    list-style-type: none;
}
a{
    color: #ffffff;
    text-decoration: none;
}
li{
    padding: 10px;
    margin: 10px;
    display: inline;
    background-color: #d8453c;
}